#confirmDeleteForm > div{
    margin: 0;
    height: fit-content;
}

#choiceDiv{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 50%);
    grid-auto-flow: column;
    width: max-content;
    margin: 0;
}

#choiceBtn{
    justify-self: center;
}

#choiceBtn button{
    text-wrap: nowrap;
    width: 100%;
    margin: 5px;
}

#choiceBtn button:hover{
    color: white;
}


#yesBtn{
    background-color: red;
    background-image: linear-gradient(red, darkred);
    border-radius: 5px;
}

#yesBtn:hover{
    background-image: linear-gradient(darkred, red);
}

#noBtn{
    background-color:darkgrey;
    background-image: linear-gradient(darkgray, black);
    border-radius: 5px;
}