#confirmDeleteForm > div{
    margin: 0;
    height: fit-content;
}

#choiceDiv{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 50%);
    grid-auto-flow: column;
    width: max-content;
    margin: 0;
}

#choiceBtn{
    justify-self: center;
}

#choiceBtn button{
    text-wrap: nowrap;
    width: 100%;
}

#choiceBtn button:hover{
    color: aquamarine;
}


#yesBtn{
    background-color: red;
}

#noBtn{
    background-color:darkgrey
}