#spotContent {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 100vw));
    grid-template-rows: repeat(auto, minmax(25vw, 100vw));
    gap: calc(5%);
    padding: 10px;
}

.spotTile:hover{
    background-color: azure;
}

.toolTip img{
    max-width: 200px;
    max-height: 200px;
    min-width: 150px;
    min-height: 150px;
}


#spotContent img{
    border: solid black 2px;
}

#boldPrice{
    font-weight: bold;
}

#locationStars{
    display: grid;
    grid-auto-columns: 2;
    grid-auto-flow: column;
    width: 220px;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
   
    position: absolute;
    z-index: 1;
  }

.toolTip:hover .toolTipText {
    visibility: visible;
  }
