/* TODO: Add sitewide styles */
  html {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto;
    grid-template-areas: "nav", "mainBody";
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }

  #navBar {
    grid-area: nav;
    border-bottom: solid lightgrey 2px;
    margin: 0%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "logo menu";
    position: relative;
    padding: 10px;
  }

  #thebnblogo {
    width: fit-content;
    height: fit-content;
    grid-area: logo;
    justify-self: left;
    align-self: center;
  }

  #menuBtn {
    width: fit-content;
    height: fit-content;
    grid-area: menu;
    justify-self: right;
    align-self: center;
    position: absolute;
    right: 50px;
  }

  #loginForm, #signupForm, #createReviewForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: solid black 3px;
    width: max-content;
    height: max-content;
  }

  .fieldOpt{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: auto;
  }

  #loginForm p, #signupForm p{
    color: red;
    font-size: 12px;
    width: fit-content;
  }

  body {
    border: dotted lightgray 1px;
    margin: 0;
  }

  a:hover,
  button:hover,
  li#LogIn,
  li#SignUp {
    cursor: pointer;
  }

  li#LogIn:hover, li#SignUp:hover {
    color: lightseagreen;
  }

  a {
    text-decoration: none;
  }

  p {
    color: black;
  }

