/* TODO: Add sitewide styles */
@media screen and (min-width:769) {
  
}

html {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto;
    grid-template-areas: "nav", "mainBody";
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: whitesmoke;
    overflow: unset;
  }

  #navBar {
    grid-area: nav;
    border-bottom: solid black 2px;
    margin: 0%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "logo menu";
    position: relative;
    padding: 10px;
  }

  #thebnblogo {
    width: fit-content;
    height: fit-content;
    grid-area: logo;
    justify-self: left;
    align-self: center;
  }

  .button{
    border: solid darkgrey 1px;
    background-image: linear-gradient(whitesmoke,lightgray);
    border-radius: 5px;
  }

  
  .button:hover{
    border: solid black 1px;
    background-image: linear-gradient(lightgray, white);
  }

  #menuBtn {
    width: fit-content;
    height: fit-content;
    grid-area: menu;
    justify-self: right;
    align-self: center;
    position: absolute;
    right: 50px;
  }

  #loginForm, #signupForm, #createReviewForm, #confirmDeleteForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: solid black 3px;
    width: max-content;
    height: max-content;
  }

  .fieldOpt{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: auto;
  }

  #loginForm p, #signupForm p{
    color: red;
    font-size: 12px;
    width: fit-content;
  }

  body {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding: 0 40px;
  }

  li{
    margin: 5px;
    justify-self: center;
    width: max-content;
  }

  .login-signup-opt{
    border-bottom: solid lightgrey 1px;
    width: 100%;
  }

  a:hover,
  button:hover,
  li#LogIn,
  li#SignUp {
    cursor: pointer;
  }

  li#LogIn:hover, li#SignUp:hover {
    color: aquamarine;
  }

  a {
    text-decoration: none;
  }

  p {
    color: black;
  }

