#userSpotsDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 20vw));
    gap: calc(5%);
    padding: 10px 0;
}

#managePage{
    padding: 0 40px;
}

.spotTile{
    width: max-content;
    clear: both;
}

.spotTile img{
    border: solid lightslategray 1px;
    border-radius: 5px;
}