#userSpotsDiv {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 100vw));
    grid-template-rows: repeat(auto, minmax(25vw, 100vw));
    gap: calc(10px + 10%);
    padding: 10px 0;
}

#managePage{
    padding: 0 40px;
}

.spotTile{
    width: max-content;
    clear: both;
}