.hidden{
    visibility: hidden;
}

li{
    list-style-type: none;
}

#SignUp:hover {
    text-decoration: underline;
    cursor: pointer;
}
#LogIn:hover {
    text-decoration: underline;
    cursor: pointer;
}